<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" />
</head>
<body>
<main data-tilt data-tilt-reset="false">

  <h1 data-tilt data-tilt-scale="1.3">URL Shortener</h1>

  <section id="section">
      <form action="" method="post"> {% csrf_token %}
<!--      <input type="text" placeholder="Enter URL here">-->
{{url}}
  <div class="buttons">
    <button id="shorten" type="submit">Short</button>
  </div>
</form>


  </section>
     <h2 data-tilt data-tilt-scale="1.2" id="lin">{{link}}</h2>
</main>
<script src="{% static 'ani.js' %}"></script>
<script src="{% static 'link.js' %}"></script>

</body>
</html>
